[Visual Studio Projects]
.vs/*

[Visual Studio Code]
.vscode/*

[Python Projects]
__pycache__/*
*/__pycache__/*
.venv/*
.env

[Temporary files]
main*.py
schFee*.json
schStudy*.json
test*.htm
test*.html
